{% extends  'base.html' %}

{% block title %}
Home Health Attendants
{% endblock %}

{% block mymessage %}
{% include 'navbar.html' %}


 <link rel="stylesheet" href="../static/css/servicepage.css">

<div class="container py-3">
<section class="paragrap">
    <h1 class="text-center text-primary ">Book Home Health Attendants- ABC Healers</h1>
    <p class="fs-4">Are you looking for high-quality patient attendants at your home? please contact us. We Provide trained patient caretaker at an affordable price.</p>
    <p class="fs-4">Our staffs can take care of Mobility assistance, Perineal care, changing the diaper, Bed Pan, Exercise Help, Mouth Hygiene, Feeding, Vital Checks, Hair & Nail Care, Urinal etc. Contact us today itself</p>   
    <div  class="text-center pt-0 pb-3">
        <button class="btn btn-success" style="border-radius: 50px;" >CALL NOW</button>
        </div>
</section>
<section class="picture">

</section>
</div>

{% endblock %}