

{% extends  'base.html'  %}



{% block title %}
Home Nursing Services
{% endblock %}



{% block mymessage %}
     {% include 'navbar.html' %}



 <link rel="stylesheet" href="../static/css/servicepage.css">  

<div class="container pt-3"> 
<section class="container  fs-4 home">
    <h1 class="text-primary text-center ">Home Nursing Services- ABC Healers</h1>

<P>ABC Healers provide nursing services at your home in Hosur. We have experienced, qualified and compassionate nurses who can provide all types of care viz. Drug administration, Post surgical care, chronic care, urinary catheterization, tracheostomy care, continuos monitoring etc. We provide 24/7 services in Hosur at affordable price.</P>
<div  class="text-center pt-0 pb-3">
<button class="btn btn-success" style="border-radius: 50px;" >CALL NOW</button>
</div>
</section>
<div class="image">

</div>
</div>

{% endblock %}
