{% extends './base.html' %}

{% block title %}

contact us
{% endblock %}

{% block mymessage %}
    {% include 'navbar.html' %}

<div class="container p-3 ">
    <div class="row">
        <div class="col-4 mt-5">
            <h3>ADDRESS:</h3>
            <hr>
            <h5>ABC HEALERS</h5>
            <h5>325,MGR NAGAR</h5> 
            <h5>VISHNU STREET </h5> 
            <h5>MOOKONDAPALLI</h5> 
            <h5>  HOSUR </h5>
            <hr>
            <h5>Email: kamalakkannan038@gmail.com </h5>
            <h5>Mobile:8531051942</h5>
        </div>
        <div class="col-8 ">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d124531.93794453969!2d77.7503240154487!3d12.737995654546596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae70c883f728a3%3A0xd71a6bc0275ac9be!2z4K6T4K6a4K-C4K6w4K-NLCDgrqTgrq7grr_grrTgr40g4K6o4K6-4K6f4K-B!5e0!3m2!1sta!2sin!4v1717582074404!5m2!1sta!2sin" width="900" height="600" style="border:1;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            
        </div>
    </div>
</div>
<!-- <div class="align-items-center"  align="center">
<h1 class="text-decoration-underline text-primary text-decoration-underline">ADDRESS:</h1>
<h5>ABC HEALERS</h5>
  <h5>325,MGR NAGAR</h5> 
  <h5>VISHNU STREET </h5> 
  <h5>MOOKONDAPALLI</h5> 
 <h5>  HOSUR </h5>
 <h5>Email: kamalakkannan038@gmail.com </h5>
 <h5>Mobile:8531051942</h5>

</div> -->
{% endblock  %}

{% block footer %}

{% include 'footer.html' %}
{% endblock %}