<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        #links a{
            text-decoration: none;
            font-size: 20px;
            line-height:2;
            color: aliceblue;
        }
        #links h2{
            
            font-size: 26px;
            font-weight: 500;
            color: aliceblue;
        }

        #links h5{
        color: aliceblue;
       } 
    </style>
</head>
<body>
    <div class="container-fluid p-5 " style="background-color: darkseagreen;">
        <div class="row" id="links">
         <div class="col-lg-4">
            <h2>ADDRESS:</h2>
            <hr>
            <h5>ABC HEALERS</h5>
            <h5>325,MGR NAGAR</h5> 
            <h5>VISHNU STREET </h5> 
            <h5>MOOKONDAPALLI</h5> 
            <h5>  HOSUR </h5>
            <hr>
            <h5>Email: kamalakkannan038@gmail.com </h5>
            <h5>Mobile:8531051942</h5>
         </div>
        <div class="col-lg-4  ps-5">
            <h2>GET TO KNOW US</h2>
            <a href="">About us</a><br>
            <a href="">Partner With Us</a><br>
            <a href="">Career</a><br>
            <a href="">Faq</a><br>
            <a href="">Blog</a><br>
            <a href="">Write For us</a><br>
            <a href="">Contact us</a>
        </div>

        <div class="col-lg-2 ">
                <h2>POLICIES</h2>
                <a href="">Shipping Policy</a><br>
                <a href="">Cancellation Policy</a><br>
                <a href="">Return & Refund</a><br>
                <a href="">Rental Terms</a><br>
                <a href="">Terms of Use</a><br>
                <a href="">Privacy policy</a><br>
                <a href="">Feedback</a><br>
        </div>

        <div class="col-lg-2 pe-5">
            <h2>PRODUCTS</h2>
            <a href="">Wheelchair</a><br>
            <a href="">BiPAP Machine</a><br>
            <a href="">HospitalBeds</a><br>
            <a href="">OxygenConcentrator</a><br>
            <a href="">OxygenCylinder</a><br>
            <a href="">CPAP Machine</a><br>
        </div>
            
        </div>
    </div>
</body>
</html>
